h1 {
    font-size: 20px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
    
}

.header {
    width: 960px;
    height: 50px;
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    font-family:'Georgia', Times, 'Times New Roman' , serif;
    border-bottom: 2px solid lightgray;
}

.inner_header {
    width: 220px;
    height: 100%;
    display: block;
    margin: left;
    background-color:#4aaaa5;
}

.name_container {
    height: 100%;
    display: table;
    float: left;
}

.name_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    
}
.navigation {
    float: right;
    height: 100%;
}

.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    display: table-cell;
    color:#777777;
    
}

a {
    text-decoration: none;
    color:#777777
}

a:hover {
    color: #4aaaa5;
}

hr {
    width: 95%;
}

body {
    background-color: #ffffff;
    background-image: url(../images/white-waves.png);
    width: 960px;
    margin-left: 15%;
    margin-right: 15%;
}

img {
    display: block;
    block-size: 170px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.main_content {
    display: block;
    block-size: 960px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid lightgray;
}

footer {
    width: 960px;
    height: 50px;
    display: block;
    background-color:#666666;
    position: absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: small;
    border-top: 8px solid #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 19px;
    line-height: 30px;
    text-indent: 30px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    color:#4aaaa5;
    text-indent: 10px;
    margin-left: 10px;
}

form {
    margin-top: 40px;
    background-color: #ffffff;
    width: 650px;
    height: 500px;
    margin-left: 163px;
    box-sizing: border-box;
    border: 0.5px solid lightgray;
}

input {
    width: 90%;
    padding: 6px;
    margin-top: 6px;
    margin-left: 25px;
}

textarea {
    width: 586px;
    padding: 6px;
    margin-top: 6px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    height: 100px;
    resize: none;
}

label {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 6px;
    margin-bottom: 25px;
    
}

h3 {
    color: #4aaaa5;
    font-size: 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-left: 25px;
}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #34c1e5;
    margin-left: 25px;
}

.portfolio_images h5 {
    position: absolute;

  
}

.portfolio_images {
    margin-top: 5px;
    margin-bottom: -10px;
    
}